/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, white, black); /* Blue gradient */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .containerHome {
    display: flex;
    gap: 20px; /* Spacing between the boxes */
  }


  .homepage {
    justify-items: center;
    align-items: center ;
  }

  .homepage .sideBar{
    background: black;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    width: 200px;
    min-height: 100vh; /* Minimum height to cover the viewport */
    padding: 20px 0;
    transition: all 0.5s ease;
}

.welcomeUser {
  justify-content: center;
  align-items: center;
  margin: 10px;
  font-size: 15px;
}


  .box {
    width: 200px;
    height: 150px;
    /* border-radius: 10px; */
    background-color: transparent;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
#this-week {
  background: linear-gradient(90deg, black, white); /* Green gradient */
  height: 50px;
}

#this-month {
  background: linear-gradient(45deg, black, white); /* Green gradient */
  height: 50px;
}

#todo-list {
  background: linear-gradient(90deg, black, white); /* Green gradient */
  height: 50px;
}

#add-task {
  background: linear-gradient(45deg, black, white); /* Green gradient */
  height: 50px;
}

#log-out {
  background: linear-gradient(45deg, grey, #ee0979); /* Red gradient */
  color:white;
  margin-top: 350px;
  height: 50px;
}




.containerSide {
    display: flex;
    flex-direction: column; /* Arrange boxes vertically */
    gap: 20px; /* Spacing between the boxes */
    margin: 20px; /* Add some spacing from the edge of the screen */
}

.boxSide {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    background-color: #0078d4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.boxSide:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
